* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
  color: #333;
  font-family: Arial, sans-serif;
}

.main-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  display: block;
}

.form-control {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.2s ease-in-out;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-success:hover {
  background-color: #218838;
}

.files-container {
  margin-top: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 400px;
  overflow-y: scroll;
}

.file-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: box-shadow 0.2s ease-in-out;
}

.file-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.file-name {
  font-weight: bold;
  font-size: 18px;
}

.btn-box > a {
  display: inline-block;
  margin-left: 10px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
}

.btn-box > a:first-child {
  background-color: #007bff;
  color: #fff;
}

.btn-box > a:first-child:hover {
  background-color: #0069d9;
}

.btn-box > a:last-child {
  background-color: #dc3545;
  color: #fff;
}
